Repository aio-libs/aioredis-py, pull requests merged in 2019-09, with the labels that each got.

#641 Docs rewrite
  CHANGES/641.doc
  README.rst
  aioredis/commands/__init__.py
  docs/api_reference.rst
  docs/examples.rst
  docs/index.rst
  docs/spelling_wordlist.txt
  docs/start.rst
  examples/getting_started/00_connect.py
  examples/getting_started/01_decoding.py
  examples/getting_started/02_decoding.py
  examples/getting_started/03_multiexec.py
  examples/getting_started/04_pubsub.py
  examples/getting_started/05_pubsub.py
  examples/getting_started/06_sentinel.py
  examples/iscan.py
  examples/pool2.py
Labels: docs, enhancement

#459 fix for sensitive logging
  aioredis/connection.py
Labels: enhancement

#536 Update contribution docs
  Makefile
  docs/devel.rst
Labels: docs, enhancement

#643 Slightly improve tests execution time
  .travis.yml
  CHANGES/643.misc
  Makefile
  docs/devel.rst
  tests/_testutils.py
  tests/conftest.py
  tests/generic_commands_test.py
  tests/pool_test.py
  tests/pubsub_commands_test.py
  tests/pubsub_receiver_test.py
  tests/sentinel_commands_test.py
  tests/sentinel_failover_test.py
  tests/server_commands_test.py
  tests/stream_commands_test.py
Labels: bot:chronographer:provided
